.animate-contact-text{
    position: absolute;
    color: white;
    z-index: 1;
    left: 0;
    color: #dddad6;
    font-size: 150px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    opacity: 0.5;
    white-space: nowrap;
    transition: transform 0.3s ease-out;
}
.contact-container{
    width: 40%;
    z-index: 2;
}
.contact-container img{
    scale: 1.5;
}
.contact-container img:hover{
    cursor: pointer;
}