.display-skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
.animate-skills-text{
    position: absolute;
    color: white;
    z-index: 1;
    right: 0;
    color: #dddad6;
    font-size: 150px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    opacity: 0.5;
    white-space: nowrap;
    transition: transform 0.3s ease-out;
}
.skills-container{
    position: relative;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-card{
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.card div{
    padding-bottom: 10px;
    font-weight: 500;
}

@media (max-width: 576px){
    .skills-container{
        width: 80%;
        height: 80%;
        flex-direction:column;
    }
    .side-card{
        width: 100%;
        justify-content: space-around;
    }
    .card{
        font-size: 20px;
    }
    .top-card{
        height: 55% !important;
    }
    .bottom-card{
        height: 45% !important;
    }
    .animate-skills-text{
        font-size: 80px;
        left: 0;
    }
}